<% content_for :title, @organization.name %>
<div class="container">
  <% if notice %>
  <div class="row" id='alertdiv'>
    <div class="alert alert-success alert-dismissible container text-center">
      <a href="#" class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
      <h6><%= notice %></h6>
    </div>
  </div>
  <% end %>
  <% if alert %>
  <div class="row" id='alertdiv'>
    <div class="alert alert-danger alert-dismissible container text-center">
      <a href="#" class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
      <h6><%= alert %></h6>
    </div>
  </div>
  <% end %>

  <div class="row center-row">
    <div class="col col-sm col-md col-lg">
      <h1 class="submain-heading">
        <%= @organization.name %>
        <% if policy(@organization).admin_access? %>
          <%= link_to edit_organization_path(@organization), class: "btn primary-button groups-editname-primary-button" do %>
            <span>Edit</span>
          <% end %>
        <% end %>
      </h1>
      <% if @organization.description.present? %>
        <p class="main-description"><%= @organization.description %></p>
      <% end %>
    </div>
  </div>

  <!-- Members -->
  <div class="d-flex justify-content-between align-items-center mb-2">
    <h3 class="mb-0">Members (<%= @members.count %>)</h3>
    <% if policy(@organization).manage_members? %>
      <button type="button" class="btn primary-button groups-primary-button"
        data-bs-toggle="modal" data-bs-target="#addOrgMemberModal">
        Add Member
      </button>
    <% end %>
  </div>
  <hr>
  <%= render partial: "members", locals: { organization: @organization, members: @members } %>

  <!-- Groups -->
  <div class="d-flex justify-content-between align-items-center mb-2 mt-4">
    <h3 class="mb-0">Groups (<%= @groups.count %>)</h3>
    <% if policy(@organization).instructor_access? %>
      <%= link_to "Create Group", new_group_path(organization_id: @organization.id),
          class: "btn primary-button groups-primary-button" %>
    <% end %>
  </div>
  <hr>
  <% if @groups.empty? %>
    <span class="null-text">No groups in this organization yet.</span>
  <% else %>
    <div class="row">
      <% @groups.each do |group| %>
        <div class="col-12 col-md-6 col-lg-4 mb-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= group.name %></h5>
              <p class="card-text text-muted">
                Mentor: <%= group.primary_mentor.name %><br>
                <%= pluralize(group.group_members.count, "member") %>
              </p>
            </div>
            <div class="card-footer d-flex justify-content-between align-items-center">
              <%= link_to "View", group_path(group), class: "btn btn-sm primary-button" %>
              <% if policy(group).admin_access? %>
                <%= link_to "Delete", group_path(group), method: :delete, data: { confirm: "Delete this group?" }, class: "btn btn-sm btn-outline-danger" %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if policy(@organization).admin_access? %>
    <div class="row mt-4">
      <div class="col-12">
        <%= link_to "Delete Organization", organization_path(@organization),
            method: :delete, data: { confirm: "Are you sure? This cannot be undone." },
            class: "btn btn-danger" %>
      </div>
    </div>
  <% end %>

  <div class="row mt-3">
    <div class="col-12 groups-back-button-container">
      <%= link_to "Back", organizations_path, class: "anchor-text" %>
    </div>
  </div>

  <% if policy(@organization).manage_members? %>
    <div class="modal fade" id="addOrgMemberModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add Member</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <%= form_with model: @organization_member, url: add_member_organization_path(@organization), local: true do |f| %>
            <div class="modal-body">
              <div class="mb-3">
                <%= f.label :email, class: "form-label" %>
                <%= f.email_field :email, name: "email", class: "form-control", required: true %>
              </div>
              <div class="mb-3">
                <%= f.label :role, class: "form-label" %>
                <%= f.select :role, OrganizationMember.roles.keys.map { |r| [r.humanize, r] }, {}, { name: "role", class: "form-select" } %>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <%= f.submit "Add", class: "btn primary-button", data: { disable_with: "Adding..." } %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
